html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: var(--title-color) !important;
    font-family: var(--roboto) !important;
}

a:hover {
    color: var(--rebeccapurple) !important;
}

input {
    font-family: var(--bellota-text);
    font-size: 18px !important;
}

input:focus {
    border: 3px solid var(--primary-color2) !important;
}