html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: var(--title-color) !important;
    font-family: var(--roboto) !important;
}

a:hover {
    color: var(--rebeccapurple) !important;
}